<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styling/navbar.css">
    blockstart(head)
    blockend(head)
</head>
<body>
<div id="navbar"> <ul>
    <li><a href="/crypto">Home</a></li>
    <li><a href="/user/arg(id)">Account</a></li>
    <li><a href="/">Loguit</a></li>
    compare(arg(role) // 2 // <li><a href="/admin">Admin</a></li> // )
</ul> </div>
<div id="container">
    blockstart(body)
    blockend(body)
</div>
<div id="footer">
    blockstart(footer)
    blockend(footer)
</div>
</body>
</html>