extend(base-access.html)
<br>
blockstart(head)
<title>User - BitTraders</title>
<link rel="stylesheet" href="/styling/userpage/userpage.css">
<script type="text/javascript" src="/styling/userpage/edit.js"></script>
blockend(head)
blockstart(body)
<h1>Gebruiker</h1>
<form>
    Username: <input type="text" id="username" value="arg(name)"><br>
    Email: <input type="text" id="email" value="arg(email)"><br>
    Wachtwoord: <input type="password" id="password" value="password"><br>
    <button id="submit">Update</button>
</form>

<h1>Wallets</h1>
<form>
    Add wallet:
    <select id="cryptos">
        forloopstart(wallet)
        <option value="argfor(crypto_name)">argfor(crypto_name)</option>
        forloopend(wallet)
    </select>
    <button id="addWallet">Add</button>
</form>

blockend(body)

blockstart(footer)
blockend(footer)