extend(base.html)
<br>
blockstart(head)
<title>Login - BitTraders</title>
<link rel="stylesheet" href="styling/login/login.css">
<script type="text/javascript" src="styling/login/login.js"></script>
blockend(head)
blockstart(body)
<div id="login">
  <form>
    <h1 id="login-label">Login bij BitTraders</h1>
    <label for="username" id="email-label">Gebruikersnaam:</label>
    <input type="username" id="username" name="username">
    <label for="password" id="password-label">Password:</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Login" id="submit">
    <a href="/register">Geen account?</a>
  </form>
</div>

blockend(body)

blockstart(footer)
© Copyright 2022 BitTraders
blockend(footer)