extend(base-access.html)
<br>
blockstart(head)
<title>User - BitTraders</title>
<link rel="stylesheet" href="../styling/overview/overview.css">
<script type="text/javascript" src="../styling/overview/overview.js"></script>
blockend(head)
blockstart(body)
<h1 id="title">Cryptos</h1>
forloopstart(crypto)
<div class="cryptobar">
    <span>argfor(name)</span>: <span>argfor(value)</span>
    <input type="button" onclick="location.href='/crypto/buy/argfor(crypto_id)';" value="Buy argfor(name)" />
    <input type="button" onclick="location.href='/crypto/sell/argfor(crypto_id)';" value="Sell argfor(name)" />
</div>
forloopend(crypto)
blockend(body)

blockstart(footer)
blockend(footer)